<h2>AJout d'une patisserie</h2>

<form action="" method="post">
    <table>
        <tr>
            <td>nom</td>
            <td><input type="text" name="nom_patisserie"></td>
        </tr>
        <tr>
            <td>activite</td>
            <td><input type="text" name="activite"></td>
        </tr>
        <tr>
            <td>info_patisserie</td>
            <td><input type="text" name="info_patisserie"></td>
        </tr>
        <tr>
            <td>longitude</td>
            <td><input type="text" name="longitude"></td>
        </tr>
        <tr>
            <td>latitude</td>
            <td><input type="text" name="latitude"></td>
        </tr>
        <tr>
            <td>adresse</td>
            <td><input type="text" name="adresse_patisserie"></td>
        </tr>
        <tr>
            <td>etat</td>
            <td><input type="text" name="etat_patisserie"></td>
        </tr>
         <tr>
            <td>photo_patisserie</td>
            <td><input type="text" name="photo_patisserie"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Ajouter" value="Ajouter"></td>
        </tr>
    </table>
</form>